name: unit tests

on:
  push:
  pull_request:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
      SONATYPE_USER:
        required: false
      SONATYPE_PASS:
        required: false

concurrency:
  group: unittest-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8, 11, 17, 21, 22 ]
    environment: github-actions
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Unit Tests
        run: |
          set -e
          sbt +clean coverage +test
          sbt coverageReport coverageAggregate
      - name: Code Coverage
        uses: codecov/codecov-action@v5.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
  release:
    if: ${{ github.repository == 'fulcrumgenomics/fgbio' && github.ref == 'refs/heads/main' && github.event_name != 'workflow_call' }}
    needs: test
    runs-on: ubuntu-latest
    environment: github-actions
    env:
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PASS: ${{ secrets.SONATYPE_PASS }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Scala
        uses: olafurpg/setup-scala@v12
        with:
          java-version: adopt-openj9@1.8.0-292
      - name: Upload to Sonatype
        run: |
          sbt +publish
  docs:
    name: Generate tool and metric markdown docs
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_call' && (github.event_name == 'pull_request' || (github.repository == 'fulcrumgenomics/fgbio' && github.ref == 'refs/heads/main')) }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # To work with the `pull_request` or any other non-`push` even with git-auto-commit
          ref: ${{ github.head_ref }}
      - name: Generate the docs
        uses: ./.github/actions/docs/
        with:
          build-dir: ./build
          latest: false
      - name: Generate gh-pages preview (pull request only)
        uses: rossjrw/pr-preview-action@df22037db54ab6ee34d3c1e2b8810ac040a530c6 # v1.6.0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          source-dir: ./build
      - name: Commit generated docs (main only)
        uses: nick-fields/retry@v3
        #i.e. if: ${{ github.event_name != 'pull_request' }}
        if: ${{ github.repository == 'fulcrumgenomics/fgbio' && github.ref == 'refs/heads/main' }}
        with:
          max_attempts: 5
          retry_on: error
          polling_interval_seconds: 5
          timeout_minutes: 5
          command: |
            set -euo pipefail
            pushd ./build
            git add tools metrics index.md
            git config --global user.name "Github Actions"
            git config --global user.email "nobody@fulcrumgenomics.com"
            git commit --all --message "devel: ${{ steps.checkout.outputs.ref }}" --author "Nobody <nobody@fulcrumgenomics.com>" || echo "nothing to commit"
            git fetch origin
            git rebase -X ours origin/gh-pages
            git push --atomic --set-upstream origin gh-pages
            popd
          new_command_on_retry: |
            set -euo pipefail
            pushd ./build
            git fetch origin
            git rebase --abort
            git rebase -X ours origin/gh-pages
            git push --atomic --set-upstream origin gh-pages
            popd
